<script src="https://unpkg.com/vue"></script>

<div id="app">
    <p> {{ message }} </p>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: 'Hello World!'
        }
    })
</script>